{% load static %}
<div id="wrapper-navbar">
    <a class="skip-link sr-only sr-only-focusable" href="#content">Saltar al contenido</a>
    <nav class="navbar navbar-expand-md navbar-light bg-light">
        <div class="container">
            <a href="{% url 'home' %}" class="navbar-brand">
                <img width="250" height="100" src="{% static 'images/chateagratis.chat.svg' %}" class="img-fluid" alt="VicioChat">
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div id="navbarNavDropdown" class="collapse navbar-collapse">
                <ul id="main-menu" class="navbar-nav ms-auto">
                    <li class="nav-item"><a href="#" class="nav-link"><i class=""></i> España</a></li>
                    <li class="nav-item"><a href="#" class="nav-link"><i class=""></i> Latinos</a></li>
                    <li class="nav-item"><a href="#" class="nav-link"><i class=""></i> Ocio</a></li>
                    <li class="nav-item"><a href="#" class="nav-link"><i class=""></i> Relaciones</a></li>
                    <li class="nav-item"><a href="#" class="nav-link"><i class=""></i> Horóscopo</a></li>
                    <li class="nav-item"><a href="{% url 'blog:post_list' %}" class="nav-link"><i class=""></i> Blog</a></li>
                    <li class="nav-item"><a href="#" class="nav-link"><i class=""></i> Ayuda</a></li>
                </ul>
            </div>
        </div>
    </nav>
</div>
