{% load static %}
<div class="container-fluid" style="background:#F3F3F3;">
    <div class="container py-4">
        <div class="row mt-4">
            <div class="col-12">
                <div>
                    <p><b>{{ chat_branding }}</b> es tu comunidad de chat en español completamente gratis, formada por usuarios de toda España, México, Argentina, Chile y toda Latinoamérica que buscan nuevos amigos.</p>
                    <p><b>Chatea</b>, conoce gente, liga y haz nuevos amigos y muchos de los servicios que te ofrecemos (registrar un apodo, crear tu propia sala de chat, etc.) son completamente gratuitos.</p>
                    <p>Nuestro <b>webchat</b> en constante evolución le permitirá chatear libremente sin registrarse de una manera sencilla y clara. Con solo registrarte, puedes cargar tus fotos y videos favoritos y crear una página completamente personalizada sobre ti y tu comunidad.</p>
                    <p>En definitiva, <b>{{ chat_branding }}</b> te ofrece un <b>chat gratis</b> para ti y tus amigos, para que puedas chatear fácilmente desde nuestra web o llevar este chat a tu chat. Los amigos para chatear online son los que más se han desarrollado en los últimos años, con el mejor ambiente y la mejor gente.</p>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="wrapper" id="wrapper-footer-full">
    <div class="container" id="footer-full-content" tabindex="-1">
        <div class="row">
            <div class="col-sm-3 d-lg-block d-sm-block d-none">
                <h5>Top canales</h5>
                <ul class="fa-ul">
                    {% for top_channel in top_channels %}
                    <li><span class="fa-li"><i class="fab fa-slack-hash"></i></span><a href="{{ top_channel.url }}">{{ top_channel.name }}</a></li>
                    {% endfor %}
                </ul>
            </div>
            <div class="col-sm-3 d-lg-block d-sm-block d-none">
                <h5>Últimos canales</h5>
                <ul class="fa-ul">
                    {% for recent_channel in recent_channels %}
                    <li><span class="fa-li"><i class="fab fa-slack-hash"></i></span><a href="{{ recent_channel.url }}">{{ recent_channel.name }}</a></li>
                    {% endfor %}
                </ul>
            </div>
            <div class="col-sm-3 d-lg-block d-sm-block d-none">
                <h5>Corporativo</h5>
                <ul class="fa-ul">
                    <li><span class="fa-li"><i class="fas fa-check"></i></span><a href="/historia/">Historia</a></li>
                    <li><span class="fa-li"><i class="fas fa-check"></i></span><a href="/equipo/">Equipo</a></li>
                    <li><span class="fa-li"><i class="fas fa-check"></i></span><a href="/auth/register/">Registro</a></li>
                    <li><span class="fa-li"><i class="fas fa-check"></i></span><a href="/crea-tu-chat/">Crea tu chat</a></li>
                    <li><span class="fa-li"><i class="fas fa-check"></i></span><a href="/contacto/">Contacto</a></li>
                </ul>
            </div>
            <div class="col-sm-3">
                <h5>Legal</h5>
                <ul class="fa-ul">
                    <li><span class="fa-li"><i class="fas fa-check"></i></span><a href="/legal/aviso-legal/">Aviso legal</a></li>
                    <li><span class="fa-li"><i class="fas fa-check"></i></span><a href="/legal/politica-de-privacidad/">Política de privacidad</a></li>
                    <li><span class="fa-li"><i class="fas fa-check"></i></span><a href="/politica-de-cookies/">Política de cookies</a></li>
                </ul>
            </div>
        </div>
        <div class="col-12 my-4 text-center">
            <div class="fa-stack"><a href="#" target="_blank" aria-label="lee esto en facebook"><i class="fas fa-circle fa-stack-2x"></i><i class="fab fa-facebook-f fa-stack-1x fa-inverse"></i></a></div>
            <div class="fa-stack"><a href="#" target="_blank" aria-label="lee esto en twitter"><i class="fas fa-circle fa-stack-2x"></i><i class="fab fa-twitter fa-stack-1x fa-inverse"></i></a></div>
        </div>
        <div class="col-12 text-center">© 2022-2024 | {{ chat_branding }} Networks</div>
    </div>
</div>
